/*---------------------------- 기본 -------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    text-align: center;
}

:root {
    --primary-color: #27262a;
    --primary-color-2: #b8bcc3;
    --secondary-color: #50b5a4;
    --danger-color: #e25c5c;
    --warning-color: #eac645;
    --light-color: #f8f9fa;
    --dark-color: #212529;
    --gray-color: #6c757d;
    --border-color: #dee2e6;
    --shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    --border-radius: 0.375rem;
    --success-color: #28a745;
}


body,
html {
    height: 100%;
    width: 100%;
    background: none;
    color: inherit;
    line-height: 1;
    font-family: "Noto Sans", sans-serif;
    font-size: 15px;
}

div{
    width : 100%;
}

button,
input,
textarea {
    all: unset;
}





/*---------------------------- -------------------------*/

.wrap{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    box-sizing: border-box;
}

.white-space-nowrap{
    white-space: nowrap;
}

.flex {
    display: flex;
}

.gap_5 {
    gap: 5px;
}

.gap_10 {
    gap: 10px;
}

.align-center {
    align-items: center;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-between{
    justify-content: space-between;
}

.justify-content-around{
    justify-content: space-around;
}

.justify-right {
    justify-content: flex-end;
}

.box-sizing {
    box-sizing: border-box;
}


.header {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.width-fit {
    width: fit-content;
}


/*---------------------------------------------------------*/


.header-text {
    font-size: 20px;
    font-weight: bold;
}

.header-date-text {
    color : #6c757d;
}

.menu-title {
    cursor: pointer;
    transition: color 0.2s;
}

.submenu {

}